*,
*::before,
*::after {
    box-sizing: border-box;
}

.body {
    font-family: 'Roboto', sans-serif;
    background: var(--body-color);
    color: var(--body-text-color);
}

:root {
    --header-bg-color: #2E2F42;
    --hero-bg-color: #2E2F42;
    --our-team-bg-color: #F4F4FD;
    --btn-color: #4D5AE5;
    --btn-hover-color: #404BBF;
    --body-color: #FFF;
    --body-text-color: #000000FF;
    --hero-text-color: #434455;
    --border-btn-color: #E7E9FC;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none
}

ul {
    list-style: none;
}

p {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}


button.header-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--body-color);
    background: var(--btn-color);
    cursor: pointer;
    box-shadow: 0 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    width: 170px;
    height: 51px;
    border: none;
    margin: 48px 0 0 0;
}

.header-btn:hover {
    background: var(--btn-hover-color);
    color: var(--body-color);
}

.header-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--header-bg-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--btn-color);
}

.header-email {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--hero-text-color);
}

.hero-titel {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--body-color);
    width: 507px;
    margin: auto;
}

.hero-after {
    background-color: var(--our-team-bg-color);
}


.header-email:hover,
.header-email:focus {
    color: var(--btn-color);
}

.header-tel {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--hero-text-color);
}

.header-tel:hover,
.header-tel:focus {
    color: var(--btn-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


.list {
    list-style: none;
}

.main-btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--btn-color);
    cursor: pointer;
    background: var(--our-team-bg-color);
    border: 1px solid var(--border-btn-color);
    border-radius: 4px;

}

.main-btn:hover {
    background: var(--btn-hover-color);
    color: var(--body-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: var(--btn-hover-color);
}

.main-btn:focus {
    background: var(--btn-hover-color);
    color: var(--body-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*-----------HERO-----------*/

.hero {
    background-color: var(--hero-bg-color);
    text-align: center;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1600px;
    margin: auto;
}


h1.header-title {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--body-color);
    width: 507px;
    margin: auto;
}


.portfolio-block-text__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--hero-text-color);
    margin: 4px 0 0 0;
}


.footer {
    background: var(--header-bg-color);
}


.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--border-btn-color);
}


.our-team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--header-bg-color);
}

.our-team-soc-list {
    margin: 8px 0 0 0;
    display: flex;
    gap: 24px;
    justify-content: center;
}

.our-team-soc-item {
    width: 40px;
    height: 40px;
}

.our-team-soc-link {
    width: 100%;
    height: 100%;
    background-color: var(--btn-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-team-soc-link:hover,
.our-team-soc-link:focus {
    background-color: var(--btn-hover-color);
}

.customers {
    padding: 120px 0 130px 0;
}

.customers-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.customers-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
}

.customers-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    fill: #8E8F99;
}

.customers-icon:hover {
    fill: #404BBF !important;
}

.customers-icon {
    fill: #8E8F99;
}

.customers-link:hover {
    border-color: var(--btn-hover-color);
    fill: var(--btn-hover-color);
}

.customers-link:hover .customers-icon {
    fill: #404BBF;
}

.li-text-skill {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--hero-text-color);
}

.our-team-item {
    background: var(--body-color);
    box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
    text-align: center;

}

a.portfolio-item-link {
    text-decoration: none;
    display: block;
}

a.portfolio-item-link:hover {
    box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08);

}


ul {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none
}

.our-team-section {
    background-color: var(--our-team-bg-color);
}

.skill-icon-bg {
    background-color: #F4F4FD;
    border-radius: 4px;
    height: 112px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-icon {

}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.header-list.list {
    display: flex;
    padding: 0;
    justify-content: space-around;
    gap: 40px;
}

li.header-item {
    padding: 24px 0 24px 0;
}

ul.header-nav.link.list {
    display: flex;
}

.header-nav-email {
    margin: 0 40px 0 0;
}

header.header {
    background: var(--body-color);
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 1px 6px rgba(46, 47, 66, 0.08);
}

ul.portfolio-list.list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

nav.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.header-logo {
    margin: 0 77px 0 0;
}

ul.we-doing-list.list {
    display: flex;
    gap: 24px;
    padding: 0;
}


ul.team-list {
    display: flex;
    justify-content: space-between;
}

.our-team-section {
    padding: 120px 0 120px 0;
}

.we-doing {
    padding: 0 0 120px 0;
}


.hero-skill {
    padding: 120px 0 120px 0;
}


.li-title-skill {
    margin: 0 0 8px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--header-bg-color);
}

h2.title-skill {
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin: 0 0 72px 0;
}

h2.title {
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin: 0 0 72px 0;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 100px 0 100px 0;
}

p.footer-text {
    width: 264px;
    margin: 16px 0 0 0;
}


h3.our-team-name {
    margin: 0 0 8px 0;
}

button.main-btn {
    padding: 8px 16px;
}

ul.portfolio-list-buttons.list {
    display: flex;
    justify-content: center;
    margin: 0 auto 72px auto;
    gap: 24px;
}


.list-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


h2.projects-title {
    margin: 32px 16px 4px 16px;
}

p.projects-text {
    margin: 4px 16px 32px 16px;
}


.project-skill {
    display: flex;
    gap: 24px;
}

.project-skill > li {
    width: calc((100% - 72px) / 4);
}

.team-list {
    display: flex;
    gap: 24px;
}

.our-team-text {
    padding: 32px 0;
}


.our-team-img {
    display: block;
    width: 100%;
    height: auto;
}

.portfolio-block-text {
    padding: 32px 16px;
    border: 0.5px solid var(--our-team-bg-color);
    border-top: none;
}

section.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}


.portfolio-block-text__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--header-bg-color);
    margin: 0 0 4px 0;
}


.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.footer-container {
    display: flex;
    gap: 120px;
}

.footer-social-list {
    margin: 16px 0 0 0;
    display: flex;
    gap: 16px;
    justify-content: center;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31D0AA;
}

.footer-logo > img {
    width: 115px;
}
